myNodeRedflow.json
[{"id":"656426ec.3d42","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"edfdb87a.ae5258","type":"ui_form","z":"656426ec.3d42","name":"","label":"","group":"c3d2c52.bb73238","order":0,"width":0,"height":0,"options":[{"label":"Adult mortality value","value":"amort","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"ideath","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"percExp","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hepb","type":"number","required":true,"rows":null},{"label":"Measles","value":"mea","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"u5d","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"totExp","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"HIV","type":"number","required":true,"rows":null},{"label":"GDP","value":"GDP","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"thi1","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thi2","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"icor","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null},{"label":"is developed","value":"isdev","type":"number","required":true,"rows":null},{"label":"is developing","value":"isdev2","type":"number","required":true,"rows":null}],"formValue":{"amort":"","ideath":"","alc":"","percExp":"","hepb":"","mea":"","BMI":"","u5d":"","pol":"","totExp":"","dip":"","HIV":"","GDP":"","pop":"","thi1":"","thi2":"","icor":"","sch":"","isdev":"","isdev2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":248.39999389648438,"y":165.99996948242188,"wires":[["bfd76342.673d98"]],"l":false},{"id":"9287888c.193ba","type":"http request","z":"656426ec.3d42","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":535.2333679199219,"y":257.5333557128906,"wires":[["9c1fcb3c.9c0c1"]],"l":false},{"id":"9c1fcb3c.9c0c1","type":"function","z":"656426ec.3d42","name":"Pre Prediction","func":"var isdev2 = global.get('isdev2')\nvar isdev = global.get('isdev')\nvar sch = global.get('sch')\nvar icor = global.get('icor')\nvar thi2 = global.get('thi2')\nvar thi1 = global.get('thi1')\nvar pop = global.get('GDP')\nvar HIV = global.get('HIV')\nvar dip = global.get('dip')\nvar totExp = global.get('totExp')\nvar pol = global.get('pol')\nvar u5d = global.get('u5d')\nvar GDP=global.get('GDP')\nvar BMI = global.get('BMI')\nvar mea = global.get('mea')\nvar hepb = global.get('hepb')\nvar percExp = global.get('percExp')\nvar alc = global.get('alc')\nvar ideath = global.get('ideath')\nvar amort = global.get('amort')\nvar token=msg.payload.access_token\n\nvar instance_id=\"b332c7af-bd47-4661-8838-416b19638f69\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload= {\"fields\": [\"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles\", \"BMI\", \"under-five deaths\", \"Polio\", \"Total expenditure\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\", \"Population\", \"thinness 1-19 years\", \"thinness 5-9 years\", \"Income composition of resources\", \"Schooling\", \"Developed\", \"Developing\"], \"values\":[[amort, ideath,alc, percExp,hepb, mea, BMI, u5d,pol,totExp, dip, HIV, GDP, pop,thi1,thi2,icor,sch,isdev,isdev2]]}\nreturn msg;","outputs":1,"noerr":0,"x":657.2333679199219,"y":151,"wires":[["1ae5edb1.7c3d62"]],"l":false},{"id":"1ae5edb1.7c3d62","type":"http request","z":"656426ec.3d42","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/b332c7af-bd47-4661-8838-416b19638f69/deployments/5d321e84-7dde-4dcb-a18c-9f01f3bda6bd/online","tls":"","persist":false,"proxy":"","authType":"","x":840.2333679199219,"y":102.53334045410156,"wires":[["18a1ce58.93c652"]],"l":false},{"id":"18a1ce58.93c652","type":"function","z":"656426ec.3d42","name":"Get value","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":822.2333679199219,"y":333,"wires":[["626c86fe.5d44b"]],"l":false},{"id":"626c86fe.5d44b","type":"ui_text","z":"656426ec.3d42","group":"c3d2c52.bb73238","order":1,"width":0,"height":0,"name":"","label":"Estimated Life Expectancy ","format":"{{msg.payload}}","layout":"row-spread","x":919.2333679199219,"y":423.7166748046875,"wires":[],"l":false},{"id":"bfd76342.673d98","type":"function","z":"656426ec.3d42","name":"","func":"global.set(\"amort\",msg.payload.amort);\nglobal.set(\"ideath\",msg.payload.ideath);\nglobal.set(\"alc\",msg.payload.alc);\nglobal.set(\"percExp\",msg.payload.percExp);\nglobal.set(\"hepb\",msg.payload.hepb);\nglobal.set(\"mea\",msg.payload.mea);\nglobal.set(\"BMI\",msg.payload.BMI);\nglobal.set(\"u5d\",msg.payload.u5d);\nglobal.set(\"pol\",msg.payload.pol);\nglobal.set(\"totExp\",msg.payload.totExp);\nglobal.set(\"dip\",msg.payload.dip);\nglobal.set(\"HIV\",msg.payload.HIV);\nglobal.set(\"GDP\",msg.payload.GDP);\nglobal.set(\"pop\",msg.payload.pop);\nglobal.set(\"thi1\",msg.payload.thi1);\nglobal.set(\"thi2\",msg.payload.thi2);\nglobal.set(\"icor\",msg.payload.icor);\nglobal.set(\"sch\",msg.payload.sch);\nglobal.set(\"isdev\",msg.payload.isdev);\nglobal.set(\"isdev2\",msg.payload.isdev2);\n\nvar apikey=\"iuHbiNIOxGWC-Gdj2ylVD0jbiq-9z6WmAv0miVTkHK2K\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":330.25926378038196,"y":238.88888888888889,"wires":[["9287888c.193ba"]],"l":false},{"id":"c3d2c52.bb73238","type":"ui_group","z":"","name":"Life expectancy","tab":"a3b3468c.610678","order":1,"disp":true,"width":"6","collapse":false},{"id":"a3b3468c.610678","type":"ui_tab","z":"","name":"Management","icon":"dashboard","disabled":false,"hidden":false}]